.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 24px;
    border-bottom: 1px;
}
.nav-link{
    display: flex;
    gap: 20px;
}

@media(max-width: 768) {
.navbar{
    flex-direction:column;
    align-items: flex-start;
    height: auto;
    padding: 12px 16px;
}
}
