.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 24px;
    background-color: #fff;
    border-bottom: 1px;
}
.nav-link{
    display: flex;
    gap: 20px;
    list-style:none;
}
@media (max-width: 768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 12px 16px;
    }
    .logo{
        margin-bottom: 5px;
    }
    .nav-links{
        flex-direction: column;
        gap: 8px;
        width: 100%
    }
    .nav-links a{
        display:block;
        width: 100%;
        padding: 8px 0;
        border-bottom: 1px solid #eee;
    }
}




